<section [id]="comp_data.my_id" class="inner-holder team-block {{comp_data.styling.content_alignment}}"
  [attr.data-sectionName]="sectionName" [ngStyle]="uiService.addStyles(comp_data, null, section_management)"
  [ngClass]="{'has_dots_back_color': this.comp_data.styling.slider_navigation_back_color, 'has_dots_hover_back_color': this.comp_data.styling.slider_navigation_back_hover_color}">
  <div class="embed-responsive embed-responsive-16by9 custom_iframe">
    <iframe *ngIf="this.comp_data.styling.background_video.active" class="embed-responsive-item"
      [src]="this.comp_data.styling.background_video_query | safe" allowfullscreen="allowfullscreen"
      mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
      webkitallowfullscreen="webkitallowfullscreen" frameborder="0" allowfullscreen></iframe>
    <div class="bg-opacity" *ngIf="uiService.hasBackImage(comp_data)"
      [class.opacity-unset]="comp_data.styling.block_overlay_color"
      [ngStyle]="{'background':this.comp_data.styling.block_overlay_color}"></div>
  </div>
  <top-widget *ngIf="!(this.preview)" [top_widget_component_data]="this.comp_data" [settings]="true"
    [background_image]="'teams'"
    (background_color)="this.comp_data.styling.background_color = $event; this.saveBlockData();"
    [layout]="this.comp_data.layout" [background_color]="this.comp_data.styling.background_color"></top-widget>
  <div class="contents-holder">
    <div class="{{comp_data.styling.container_class}} {{comp_data.styling.container_padding}}">
      <div class="section-title">
        <div *ngIf="preview" class="froalaContent" [innerHtml]="comp_data.custom_data.heading | safeHtml"></div>
        <div *ngIf="textEditorOpts && !preview" [(froalaModel)]="this.comp_data.custom_data.heading"
          [froalaEditor]="textEditorOpts"></div>
      </div>
      <div class="orb-mb-30"
        *ngIf="(comp_data.custom_data.data && comp_data.custom_data.data?.length > 0) && !comp_data.styling.selected_design && comp_data.styling.filters_toggle">
        <ul class="h-list filter-list" data-container="#team">
          <li [ngClass]="{'active theme-bg-primary': filteredItem == filter}" *ngFor="let filter of filters"
            (click)="filterItem(filter)" data-filter="*" appHover
            font_hover_background_color="{{ filteredItem == filter ? this.comp_data.styling.active_filter_hover_back_color : this.comp_data.styling.filter_hover_back_color}}"
            font_background_color="{{filteredItem == filter ? this.comp_data.styling.active_filter_back_color : this.comp_data.styling.filter_back_color}}"
            font_color="{{ filteredItem == filter ? this.comp_data.styling.active_filter_color : this.comp_data.styling.filter_color}}"
            font_hover_color="{{ filteredItem == filter ? this.comp_data.styling.active_filter_hover_color : this.comp_data.styling.filter_hover_color}}"
            [ngStyle]="{'background-color': filteredItem != filter ? comp_data.styling.filter_back_color : comp_data.styling.active_filter_back_color, 'color': filteredItem != filter ? comp_data.styling.filter_color : comp_data.styling.active_filter_color}">
            {{filter}}</li>
        </ul>
      </div>
      <div class="alert alert-warning text-center"
        *ngIf="((!comp_data.custom_data?.data || comp_data.custom_data?.data.length <= 0) && teamsObtained); else data">
        No data available.
        <ng-container *ngIf="!this.preview">Please add some team members from CMS.</ng-container>
      </div>
      <ng-template #data>
        <div class="teams-holder" *ngIf="!comp_data.styling.selected_design">
          <div class="row {{comp_data.styling.grid_gutter}}">
            <ng-container *ngFor="let row of comp_data.custom_data.data">
              <div
                class="grid-item {{ comp_data.identifier == 'team-1' ? 'col-12' : null }}{{ comp_data.identifier == 'team-2' ? 'col-md-6' : null }}{{ comp_data.identifier == 'team-3' ? 'col-md-4 col-lg-4' : null }}{{ comp_data.identifier == 'team-4' ? 'col-md-6 col-lg-4 col-xl-3' : null }}"
                *ngIf="row.organization == filteredItem || filteredItem == 'Show All'">
                <ng-container *ngTemplateOutlet="cardWidget; context:row"></ng-container>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="carousel-holder teams-holder {{comp_data.styling.selected_design?.type}}"
          *ngIf="comp_data.styling.selected_design && this.comp_data.custom_data?.data?.length">
          <ngx-slick *ngIf="showSlider" class="carousel" [ngClass]="[true ? comp_data.styling.grid_gutter || '' : '']"
            #slickModal="slick-modal" [config]="comp_data.styling.selected_design?.slideConfig"
            (afterChange)="uiService.afterChange($event, options, slickModal)">
            <div ngxSlickItem *ngFor="let details of this.comp_data.custom_data.data" class="slide grid-item">
              <ng-container *ngTemplateOutlet="cardWidget; context:details"></ng-container>
            </div>
          </ngx-slick>
          <ng-container
            *ngIf="comp_data.styling.selected_design?.type != 'center-mode' && comp_data.custom_data.data && comp_data.custom_data.data.length > 0 && !this.comp_data.styling.selected_design?.slideConfig?.dots">
            <span class="slick-arrow arrow-left" *ngIf="options.showFirstSliderNav"
              (click)="uiService.slickSlideNav(slickModal, 'prev')" appHover
              font_hover_background_color="{{this.comp_data.styling.slider_navigation_back_hover_color}}"
              font_background_color="{{this.comp_data.styling.slider_navigation_back_color}}"
              font_color="{{this.comp_data.styling.slider_navigation_color}}"
              font_hover_color="{{this.comp_data.styling.slider_navigation_hover_color}}"
              [ngStyle]="{'color': comp_data.styling.slider_navigation_color, 'background-color': comp_data.styling.slider_navigation_back_color}">
              <i class='fa fa-angle-left'></i>
            </span>
            <span class="slick-arrow arrow-right" *ngIf="options.showLastSliderNav"
              (click)="uiService.slickSlideNav(slickModal, 'next')" appHover
              font_hover_background_color="{{this.comp_data.styling.slider_navigation_back_hover_color}}"
              font_background_color="{{this.comp_data.styling.slider_navigation_back_color}}"
              font_color="{{this.comp_data.styling.slider_navigation_color}}"
              font_hover_color="{{this.comp_data.styling.slider_navigation_hover_color}}"
              [ngStyle]="{'color': comp_data.styling.slider_navigation_color, 'background-color': comp_data.styling.slider_navigation_back_color}">
              <i class='fa fa-angle-right'></i>
            </span>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</section>

<ng-template #cardWidget let-designation="designation" let-slug="slug" let-image="image" let-email="email"
  let-last_name="last_name" let-first_name="first_name" let-fb_link="fb_link" let-tw_link="tw_link"
  let-gp_link="gp_link" let-lin_link="lin_link" let-yt_link="yt_link" let-description="description" let-id="id"
  let-telephone="telephone" let-location="location" let-skills="skills">
  <div class="card-widget {{comp_data.styling.image_shape}}"
    [ngStyle]="{'background-color': comp_data.styling.card_body_back}">
    <div class="image-holder" (click)="onTeamClick(slug)"
      [ngStyle]="{'background-color': comp_data.styling.card_header_back, 'border-color': comp_data.styling.figure_border_color}">
      <img *ngIf="image" [src]="image" alt="Team image">
      <img *ngIf="!image" src="assets/images/no-image-placeholder.png" alt="Team image">
    </div>
    <div class="desc last-margin-0">
      <h4 (click)="onTeamClick(slug)" class="team-title" [ngStyle]="{'color': comp_data.styling.title_color}">
        {{first_name}} {{last_name}}</h4>
      <div *ngIf="designation" class="team-designation theme-color-primary"
        [ngStyle]="{'color': comp_data.styling.designation_color, 'background-color': comp_data.styling.designation_back_color}">
        {{designation | truncate:100}}</div>
      <div *ngIf="description" class="team-detail" [ngStyle]="{'color': comp_data.styling.content_color}">
        {{description}}</div>
      <social-media class="orb-mt-10" [comp_data]="comp_data"
        *ngIf="fb_link || tw_link || gp_link || lin_link || yt_link"
        [socialMediaData]="{facebook_link: fb_link, twitter_link: tw_link, googleplus_link: gp_link, linkedin_link: lin_link, youtube_link: yt_link}">
      </social-media>
    </div>
  </div>
</ng-template>
