<mat-card class="mapping-table">
  <mat-card-title class="mapping__header">
    <h5 class="mapping-table__title">Mapping</h5>
    <form>
      <mat-form-field class="batch-profile">
        <mat-label>Batch Profile</mat-label>
        <mat-select [(value)]="selected" disableOptionCentering panelClass="cust-mat-select">
          <mat-option value="title">
            Option 1
          </mat-option>
          <mat-option value="option2">
            Option 2
          </mat-option>
          <mat-option value="option3">
            Option 3
          </mat-option>
          <mat-option value="option4">
            Option 4
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-title>

  <div class="table-wrapper">
    <mat-table [dataSource]="dataSource" class="index-mapping-table">

      <ng-container matColumnDef="index-field">
        <mat-header-cell *matHeaderCellDef>Index Field</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="content">
            <mat-form-field class="example-full-width" floatLabel="never">
              <input type="text" placeholder="Pick one" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="index-field1">
        <mat-header-cell *matHeaderCellDef> Index Field </mat-header-cell>
        <mat-cell *matCellDef="let row; let isLast=last;">
          <mat-form-field class="example-full-width" floatPlaceholder="never">
            <input type="text" placeholder="Pick one" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button mat-icon-button>
            <img src="./assets/icons/trash.svg">
          </button>

          <ng-container *ngIf="isLast">
            <button mat-icon-button>
              <img src="./assets/icons/add-row.svg">
            </button>
          </ng-container>

        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="['index-field', 'index-field1']">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: ['index-field', 'index-field1']">
      </mat-row>
    </mat-table>
  </div>

  <mat-card-footer>
    <mat-card-actions>
      <button mat-stroked-button class="cancel-btn">Cancel</button>
      <button mat-stroked-button class="save-btn">Save</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
