<div class="company-detail-dialong">
  <h2 mat-dialog-title>Company Detail</h2>

  <mat-dialog-content>

    <div class="content-header">
      <div class="title">
        <h2>Company 1</h2>
      </div>
      <div class="action">
        <a>Delete Company</a>
      </div>
    </div>
    <div class="content-body">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div class="content">
            <label>Company ID</label>
            <h5>456789123</h5>
          </div>
          <div class="media">
            <img src="./images/icons/company-id.svg">
          </div>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div class="content">
            <label>Descriptions</label>
            <h5>Dokmee default cabinet</h5>
          </div>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div class="content">
            <label>Company Contact</label>
            <h5>Carol Lucas</h5>
          </div>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div class="content">
            <label>Company Contact</label>
            <h5>Carol Lucas</h5>
          </div>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div class="content">
            <label>Email</label>
            <h5>lucas@gmail.com</h5>
          </div>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div class="content">
            <label>Created</label>
            <div class="date-time">8/13/2019 <span>09:30 PM</span></div>
          </div>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div class="content">
            <label>Subscription Expiration date</label>
            <div class="expiration-date">
              <span>04/20/2021</span>
              <img src="./images/icons/calender.svg"></div>
          </div>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div class="content">
            <label>Max Documents per month</label>
            <div class="doc-per-month">4 of <span class="total">10</span></div>
          </div>
        </mat-list-item>
      </mat-list>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close tabindex="-1" class="cancel-btn">Cancel</button>
    <button mat-button [mat-dialog-close]="true" tabindex="1" class="save-btn">Save</button>
  </mat-dialog-actions>
</div>
