<mat-card class="material-table">
  <mat-card-title class="material-table__header">
    <h5 class="material-table__title">Company Manager</h5>
    <div class="search">
      <mat-icon class="search-icon">search</mat-icon>
      <input class="search-input" placeholder="Search...">
    </div>
  </mat-card-title>

  <mat-card-content class="material-table__content">
    <div class="table-wrapper">
      <mat-table [dataSource]="dataSource">
        <!-- User name Definition -->
        <ng-container matColumnDef="Company">
          <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="media">
              <img src="./images/icons/company.svg">
            </div>
            <div class="content">
              <h4 class="company-name" (click)="openDialog()">Comapny</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Age Definition -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Company Id </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <label>Company ID</label>
              <h4>d456789123</h4>
            </div>
            <div class="media">
              <img src="./images/icons/company-id.svg">
            </div>
          </mat-cell>
        </ng-container>

        <!-- Title Definition -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <label>Descriptions</label>
              <h4>Dokmee default cabinet</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Title Definition -->
        <ng-container matColumnDef="subscription">
          <mat-header-cell *matHeaderCellDef> Subscription </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <label>Subscription Expiration date</label>
              <h4>04/20/2021</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Title Definition -->
        <ng-container matColumnDef="documents">
          <mat-header-cell *matHeaderCellDef> Documents </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <label>Documents</label>
              <h4>4 of 10</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Title Definition -->
        <ng-container matColumnDef="contacts">
          <mat-header-cell *matHeaderCellDef> Contacts </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <label>Company Contact</label>
              <h4>Carol Lucas</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Title Definition -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button class="settings-button" mat-mini-fab [matMenuTriggerFor]="settings">
              <mat-icon class="settings-button__icon">more_vert</mat-icon>
            </button>
            <div class="settings-menu">
              <mat-menu #settings="matMenu" xPosition="before" yPosition="below">
                <button class="settings-menu__item" mat-menu-item routerLink="{{routes.COMPANY_CONNECTIONS}}">View
                  Cabnit</button>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row
          *matHeaderRowDef="['Company', 'id', 'description', 'subscription', 'documents', 'contacts','action']">
        </mat-header-row>
        <mat-row
          *matRowDef="let row; columns: ['Company', 'id', 'description', 'subscription', 'documents', 'contacts', 'action']">
        </mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
