<mat-card class="material-table">
  <mat-card-content class="material-table__content">
    <div class="table-wrapper">
      <mat-table [dataSource]="dataSource">
        <!-- Company Name Definition -->
        <ng-container matColumnDef="company_name">
          <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="media">
              <img src="./assets/icons/company.svg">
            </div>
            <div class="content">
              <h4 class="company-name">Comapny</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- ID Definition -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Company Id </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <h4>456789123</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Description Definition -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <h4>Dokmee default cabinet</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Subscription Expiration Date Definition -->
        <ng-container matColumnDef="subscription_expiration_date">
          <mat-header-cell *matHeaderCellDef> Subscription Expiration date </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <h4>04/20/2021</h4>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Company Conatct Definition -->
        <ng-container matColumnDef="company_conatct">
          <mat-header-cell *matHeaderCellDef> Company Conatct </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="content">
              <h4>Carol Lucas</h4>
            </div>
          </mat-cell>
        </ng-container>


        <!-- Action Definition -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button class="settings-button" mat-mini-fab [matMenuTriggerFor]="settings">
              <mat-icon class="settings-button__icon">more_vert</mat-icon>
            </button>
            <div class="settings-menu">
              <mat-menu #settings="matMenu" xPosition="before" yPosition="below">
                <button class="settings-menu__item" mat-menu-item routerLink="{{routes.COMPANY_CONNECTIONS}}">View
                  Cabnit</button>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row
          *matHeaderRowDef="['company_name', 'id', 'description', 'subscription_expiration_date', 'company_conatct','action']">
        </mat-header-row>
        <mat-row
          *matRowDef="let row; columns: ['company_name', 'id', 'description', 'subscription_expiration_date','company_conatct', 'action']">
        </mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
