.cancel-btn{
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    background: #CD3538;
    width: 100px;
    color: #ffffff;
    font-family: "Segoe Semi Bold";
    font-size: 14px;
    margin-right: 20px;
  } 
  .save-btn{
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    background: #028A0F;
    width: 100px;
    color: #ffffff;
    font-family: "Segoe Semi Bold";
    font-size: 14px;
  } 
  