<button class="user-button" mat-mini-fab [matMenuTriggerFor]="userMenu">
  <h5 class="user-name">Amelia</h5>
  <img src="./assets/images/user-placeholder.png">
</button>
<mat-menu #userMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item class="user-menu__item-title" (click)="OpenProfileDialog()">
    <img src="./assets/icons/person-icon.svg">Profile
  </button>
  <button mat-menu-item class="user-menu__item-title" (click)="OpenSettingsDialog()">
    <img src="./assets/icons/gear.svg">Settings
  </button>
  <div class="sign-button-wrapper">
    <button class="sign-button" mat-flat-button (click)="onSignOut()">
      <img src="./assets/icons/logout.svg" >Sign out</button>
  </div>
</mat-menu>
