<div class="auth-page">
  <div class="auth-page__content-wrapper">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <picture class="brand_logo">
        <source media='(min-width:0px)' srcset="./images/logo.png">
        <img mat-card-image src="./images/logo.png" alt="docmee Brand Identity">
      </picture>

      <mat-form-field class="form__input" floatLabel="never">
        <input matInput placeholder="Email Address" type="email" formControlName="email">
        <mat-error>Email is invalid!</mat-error>
      </mat-form-field>

      <div class="api_errors">
        <mat-error class="api_error" *ngIf="error">{{error}}</mat-error>
      </div>

      <button mat-button [disabled]="(formControl.email.invalid)" class="form-actions__login"  mat-raised-button color="primary"
        type="submit">Reset Password</button>
    </form>
  </div>
</div>
<mat-spinner *ngIf="isLoading" class="loading-indicator"></mat-spinner>
