:host {
  .ChangePassworDialog {
    h2.mat-dialog-title {
      font-size: 22px;
      color: #535353;
      font-family: "Segoe Semi Bold";
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    .mat-dialog-content {
      max-height: 100vh;
      padding: 20px;
      .tariq {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        mat-form-field {
          width: 100%;
          input {
            width: 90%;
            border-radius: 8px;
            border: 1px solid #b7c1c8;
            height: 43px;
            padding: 0px 10px;
          }
        }
        .change-pass {
          height: 30px;
          line-height: 30px;
          width: 145px;
          border-radius: 8px;
          background: #cd3538;
          color: #ffffff;
        }
      }
    }

    .mat-dialog-actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  .form-actions__login {
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    background: #028a0f;
    width: 96%;
    color: #ffffff;
    font-family: "Segoe Semi Bold";
    font-size: 14px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
}

.cancel-btn {
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
  background: #cd3538;
  width: 100px;
  color: #ffffff;
  font-family: "Segoe Semi Bold";
  font-size: 14px;
  margin-right: 20px;
}
.save-btn {
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
  background: #028a0f;
  width: 100px;
  color: #ffffff;
  font-family: "Segoe Semi Bold";
  font-size: 14px;

}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

::ng-deep {
  &.ChangePassworDialog {
    .mat-form-field-wrapper {
      padding-bottom: 25px !important;
      .mat-form-field-suffix {
        position: absolute;
        right: 20px;
        top: 30px;
        cursor: pointer;
      }
      .mat-form-field-subscript-wrapper {
        top: calc(100% - 2.6em);
      }
      .mat-form-field-label-wrapper {
        top: -40px;
        label {
          display: block;
          font-size: 16px;
          font-family: "Segoe Semi Bold";
          color: #535353;
        }
      }
    }
  }
  background-color: rgba(0, 0, 0, 0.3);
}

.mat-error {
  color: #cf3339;
}


.api_error{
  margin-top: 16px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  color: crimson;
}