<div class="ChangePassworDialog">
  <h2 mat-dialog-title>Change Password:</h2>
  <mat-dialog-content>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="form__input" floatLabel="never">
        <input matInput placeholder="Old Password" type="password" formControlName="oldPassword">
        <mat-error *ngIf="formControl.oldPassword.invalid">Minimum 6 characters password required!</mat-error>
      </mat-form-field>

      <mat-form-field class="form__input" floatLabel="never">
        <input matInput placeholder="New Password" type="password" formControlName="newPassword">
        <mat-error *ngIf="formControl.newPassword.invalid">Minimum 6 characters password required!</mat-error>
      </mat-form-field>

      <div>
        <mat-error *ngIf="error">{{error}}</mat-error>
      </div>

      <button mat-button [disabled]="(formControl.oldPassword.invalid || formControl.newPassword.invalid)"
        class="form-actions__login" mat-raised-button color="primary" type="submit">Reset Password</button>
    </form>
  </mat-dialog-content>

</div>
