<mat-toolbar class="header">

  <div class="header__title">
    <picture class="header__logo">
      <source media='(min-width:0px)' srcset="./assets/images/logo.png">
      <img mat-card-image src="./assets/images/logo.png" alt="docmee Brand Identity">
    </picture>
  </div>

  <div class="header-toolbar">
    <app-search></app-search>
    <app-notifications></app-notifications>
    <button mat-icon-button color="primary" routerLink="{{routes.ADMIN_USER}}">
      <img src="./assets/icons/user.svg">
    </button>
    <app-user></app-user>
  </div>

</mat-toolbar>